body {
    background-color: darkgray;
}

h1 {
    color: midnightblue;
    font-size: large;
    font-weight: bold;
}

.jorge.jpg {
    border-image-width: auto;
    border-image: fill;
}

.grit-container {
    grid-template-columns: grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    grid-area: auto;
    font-style: italic;
    align-items: center;
    font-style: oblique;
}