header {
    color: darkblue;
    font-size: larger;
    font-weight: bolder;
}

body {
    background-image: url("backgroung.jpg");
}

h1 {
    color: midnightblue;
    font-size: large;
    font-weight: bold;
}

.jorge.jpg {
    border-image-width: auto;
    border-image: fill;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grit-item {
    font-size: larger;
    font-style: oblique;
}