header {
    color: darkblue;
    font-size: larger;
    font-weight: bolder;
}

body {
    background-image: url("backgroung.jpg");
}

h1 {
    color: midnightblue;
    font-size: large;
    font-weight: bold;
}

.jorge.jpg {
    border-image-width: auto;
    border-image: fill;
}

.grit-container {
    grid-template-columns: grid-template-columns: 25px 25px 25px;
    grid-template-rows: 25px 25px 25px;
    grid-area: auto;
    font-style: italic;
    align-items: center;
    font-style: oblique;
}